#bodyMap {
    background-image: url("human-front.png");
    width: 325px;
    height: 696px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
}

#flip {
    position: fixed;
    z-index: 1;
}

textarea {
    resize: none;
}

.padding{
    text-align: center;
}

.leftArmFront{
    position: absolute;
    left: 230px;
    top: 110px;
    width: 50px;
    height: 205px;
}

.leftArmFrontPain{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 230px;
    top: 130px;
    border-radius: 50%;
    background-color: black;
    box-shadow:
    0 0 60px 30px #ff0000,  /* inner white */
    0 0 65px 35px #fff /* middle magenta */
}

.core{
    position: absolute;
    left: 115px;
    top: 200px;
    width: 95px;
    height: 140px;
}

.leftLegFront{
    position: absolute;
    left: 105px;
    top: 350px;
    width: 60px;
    height: 140px;
}

.leftLegFrontPain{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 110px;
    top: 420px;
    border-radius: 50%;
    background-color: black;
    box-shadow:
    0 0 60px 30px #ff0000,  /* inner white */
    0 0 65px 35px #fff /* middle magenta */
}

.leftLowerLeg{
    position: absolute;
    left: 105px;
    top: 500px;
    width: 60px;
    height: 140px;
}

.leftLowerLegPain{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 105px;
    top: 580px;
    border-radius: 50%;
    background-color: black;
    box-shadow:
    0 0 60px 30px #ff0000,  /* inner white */
    0 0 65px 35px #fff /* middle magenta */
}

.leftFoot{
    position: absolute;
    left: 105px;
    top: 650px;
    width: 60px;
    height: 80px;
}

.leftFootPain{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 105px;
    top: 650px;
    border-radius: 50%;
    background-color: black;
    box-shadow:
    0 0 60px 30px #ff0000,  /* inner white */
    0 0 65px 35px #fff /* middle magenta */
}

.rightLegFront{
    position: absolute;
    left: 175px;
    top: 350px;
    width: 60px;
    height: 140px;
}

.rightLegFrontPain{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 180px;
    top: 400px;
    border-radius: 50%;
    background-color: black;
    box-shadow:
    0 0 60px 30px #ff0000,  /* inner white */
    0 0 65px 35px #fff /* middle magenta */
}

.rightLowerLeg{
    position: absolute;
    left: 175px;
    top: 500px;
    width: 60px;
    height: 140px;
}

.rightLowerLegPain{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 175px;
    top: 580px;
    border-radius: 50%;
    background-color: black;
    box-shadow:
    0 0 60px 30px #ff0000,  /* inner white */
    0 0 65px 35px #fff /* middle magenta */
}

.rightFoot{
    position: absolute;
    left: 175px;
    top: 650px;
    width: 60px;
    height: 80px;
}

.rightFootPain{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 175px;
    top: 650px;
    border-radius: 50%;
    background-color: black;
    box-shadow:
    0 0 60px 30px #ff0000,  /* inner white */
    0 0 65px 35px #fff /* middle magenta */
}


.leftArmFront:hover {
    background-color: yellow;
}

.rightLegFront:hover {
    background-color: yellow;
}

.rightLowerLeg:hover{
    background-color: yellow;
}

.rightFoot:hover{
    background-color: yellow;
}

.leftLegFront:hover {
    background-color: yellow;
}

.leftLowerLeg:hover {
    background-color: yellow;
}

.leftFoot:hover{
    background-color: yellow;
}

.core:hover {
    background-color: yellow;
}


.corePain{

    position: absolute;
    width: 30px;
    height: 30px;
    left: 145px;
    top: 240px;
    border-radius: 50%;
    background-color: black;
    box-shadow:
    0 0 60px 30px #ff0000,  /* inner white */
    0 0 65px 35px #fff /* middle magenta */
}



input[type=range] {
    width: 300px;
}

h3 {
    text-align: center;
}